## The purpose of this notebook
- test data collection functions
- join weather and river data temporally (keeping the station IDs as multilevel indices) to prepare for LSTM modelling with Pytorch

In [19]:
import pandas as pd
from data_collection import fetch_weather_data, fetch_and_save_river_data
import os

Join the river gauges data together, keeping the station id

In [23]:
os.chdir('./get_river_data/data')

In [27]:
all_river_data = pd.concat((pd.read_csv(file).assign(station_id=file.replace('.csv', ''))
                            for file in os.listdir() if file.endswith('.csv')),
                           ignore_index=True)

# generator expression to save memory

In [37]:
all_river_data['time'].min()

'2014-03-04 04:15:00'

In [33]:
os.chdir('/Users/antonfreidin/water_project/get_weather_data/data')

In [34]:
# use hourly weather data, which will match the timestamps once every 4th observation of river levels (they're measured every 15m )

['cornwall_weather_data_hourly', 'cornwall_weather_data_daily']

In [35]:
hourly_weather_cornwall = pd.read_csv('cornwall_weather_data_hourly')

In [36]:
hourly_weather_cornwall

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,station_id
0,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0
1,2016-12-08 16:00:00,12.0,12.0,100.0,NaN,NaN,190.0,11.2,NaN,NaN,NaN,NaN,EGHC0
2,2016-12-09 08:00:00,12.0,9.0,82.0,NaN,NaN,190.0,35.3,NaN,NaN,NaN,NaN,EGHC0
3,2016-12-09 09:00:00,12.0,11.1,94.0,NaN,NaN,190.0,35.3,NaN,NaN,NaN,NaN,EGHC0
4,2016-12-09 10:00:00,13.0,9.1,77.0,NaN,NaN,190.0,38.9,NaN,NaN,NaN,NaN,EGHC0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29961,2022-12-31 20:00:00,10.8,7.5,80.0,0.3,NaN,230.0,43.6,NaN,1000.5,NaN,8.0,EGHC0
29962,2022-12-31 21:00:00,10.5,7.4,81.0,0.0,NaN,223.0,42.8,NaN,1001.7,NaN,3.0,EGHC0
29963,2022-12-31 22:00:00,10.7,7.2,79.0,0.0,NaN,228.0,43.6,NaN,1002.5,NaN,3.0,EGHC0
29964,2022-12-31 23:00:00,10.9,6.4,74.0,0.0,NaN,231.0,46.8,NaN,1003.5,NaN,3.0,EGHC0
29965,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0

In [38]:
hourly_weather_cornwall['time'].min()

'2016-12-08 15:00:00'

In [41]:
weather_river = pd.merge(hourly_weather_cornwall, all_river_data, how='inner', on='time')


#does the logic make sense? River measurements taken anywhere in Cornwall matched with river gauges taken anywhere in cornwall, the common factor is time?

# how about matching with closest station?

In [42]:
weather_river

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,station_id_x,value,station_id_y
0,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.122,station_397_clean
1,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.190,station_1352_clean
2,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.124,station_1340_clean
3,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.085,station_1341_clean
4,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.323,station_384_clean
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548974,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.401,station_14454_clean
548975,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.088,station_1351_clean
548976,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.204,station_14453_clean
548977,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.720,station_365_clean
548978,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,-0.452,station_1339_clean

In [43]:
weather_river = weather_river.rename(columns={'station_id_x':'weather_station_id','station_id_y': 'river_station_id' })

In [44]:
weather_river

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,weather_station_id,value,river_station_id
0,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.122,station_397_clean
1,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.190,station_1352_clean
2,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.124,station_1340_clean
3,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.085,station_1341_clean
4,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.323,station_384_clean
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548974,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.401,station_14454_clean
548975,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.088,station_1351_clean
548976,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.204,station_14453_clean
548977,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.720,station_365_clean
548978,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,-0.452,station_1339_clean

In [45]:
import re


def extract_digits(s):
    # This will join all groups of digits found in the string
    return ''.join(re.findall(r'\d+', s))

weather_river['river_station_id'] = weather_river['river_station_id'].apply(extract_digits)

In [46]:
weather_river

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,weather_station_id,value,river_station_id
0,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.122,397
1,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.190,1352
2,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.124,1340
3,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.085,1341
4,2016-12-08 15:00:00,12.0,12.0,100.0,NaN,NaN,180.0,16.6,NaN,NaN,NaN,NaN,EGHC0,0.323,384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548974,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.401,14454
548975,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.088,1351
548976,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.204,14453
548977,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,0.720,365
548978,2023-01-01 00:00:00,10.7,6.3,74.0,0.0,NaN,226.0,41.4,NaN,1004.0,NaN,3.0,EGHC0,-0.452,1339

In [47]:
weather_river.to_csv('weather_river_baseline.csv', index=True)

## Important Note

- does the logic make sense? River measurements taken anywhere in Cornwall matched with river gauges taken anywhere in cornwall, the common factor is time?

- how about matching with closest station? 

- will use the basic join to develop a baseline LSTM model